<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon.png"
        android:label="@string/慕雪安装器"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight"
        tools:targetApi="19">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
    </application>
</manifest>
// ... existing code ...
    <activity android:name=".SettingsActivity"/>
    <activity android:name=".AboutActivity"/>
    </application>
</manifest>